.particle-container {
  background: #17182f;
  background-image: url("../assets/background.png");
  background-repeat: repeat-x; 
  height: 120vh;
  width: 8500px;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  overflow: -moz-scrollbars-none; /* Firefox */


}

.no-overflow{
  overflow: hidden !important;
}
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */

canvas {
  display: block;
  vertical-align: bottom;
}

.moon-container {
  left: 1100px;
  position: absolute;
  top: 20px; 
}

.contact-container{
  left: 8500px; 
  position: absolute;
  top: 100px
}

.man-container {}

#man {
  color: white;
  font-size: 150px;
  -webkit-transition: webkit-transform .8s ease-in-out, left .8s, bottom 2s ease-out;
  -ms-transition: ms-transform .8s ease-in-out, left .8s, bottom 2s ease-out;
  transition: transform .8s ease-in-out, left .8s, bottom 2s ease-out;
  position: fixed;
  left: 50px;
  top: 75vh;

}

@keyframes bounce {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  50% {
    transform: translate3d(0px, -4px, 0);
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}

#man.propel{
  bottom: 1000px;
}

#man:hover {
  transform: translate(300px) rotate(20deg);
}

.speech-bubble {
  font-size: 1.5rem;
  position: absolute;
  display: inline-block;
  padding: 1.5rem;
  background: #00cc99;
  color: #f6f6f6;
  animation: bounce-in 1s 1;
  margin-top: 100px;
  left: 50px;
}

.company-details {
  position: absolute;
  left: 2000px;
  transition: top 1s;
  top: 10px; 
}

.moon-glow {
  border-radius: 50%;
  border: none;
  box-shadow: -2px 0 100px rgb(255,255,240);
  height: 150px;
  width: 150px;
  margin: 100px auto;
  position: relative;
  animation: glow 5s;
  animation-iteration-count: infinite;
}


.moon {
  background-color: rgb(255,255,240);
  border-radius: 50%;
  border: none;
  height: 100%;
  width: 100%;
  position: relative;
  transform: rotate(20deg);
  animation: glow 5s;
  animation-iteration-count: infinite;
}

@keyframes glow {
  0% {width: 150px;height: 150x;}
  50% {width: 153px;height: 153x;}
  100% {width: 150px;height: 150x;}
}





/*.speech-bubble:after {
  top: 88%;
  left: 0;
  position: absolute;
  content: '';
  border: 1.5rem solid;
  border-color : #00cc99 transparent;
}*/